<%- include('header') %>

<h1>Object Information</h1>
<ul>
  <li>Title: <%- object.title %></li>
  <% if (object.description != undefined) { %>
  <li>Description: <%- object.description %></li>
  <% } %>
  <% if (object.provenance != undefined) { %>
  <li>Provenance: <%- object.provenance %></li>
  <% } %>
  <li>Accession Year: <%- object.accessionyear %></li>
</ul>

<h2>Comments</h2>
<ul>
  <% comments.forEach(comment => {  %>
    <li><%- comment %></li>
  <% }) %>
</ul>
<form action="/object/<%- object.id %>/comment">
  <input class="form-control" type="text" name="comment">
  <button class="btn btn-primary" type="submit">Add Comment</button>
</form>

<img width='50%' src="<%- object.primaryimageurl %>"></img>

<%- include('footer') %>
