<h1>Object Information</h1>
<ul>
  <li>Title: {{object.title}}</li>
  <li>Description: {{object.description}}</li>
  <li>Provenance: {{object.provenance}}</li>
  <li>Accession Year: {{object.accessionyear}}</li>
</ul>
<img class='gallery-image' src="{{object.primaryimageurl}}"></img>
